{% if context.pages %}
<!-- Pagination section -->
<div class="pagination-con">
    <div class="pagination">
        {% if not context.dont_filter %}
            <span><a class="pre-nex" href='?page={{context.previous}}{{qry_str}}'>Previous</a></span>
            <div class='special-pages'>
                {% for itm in context.lis %}
                    {% if itm.page == None   %}
                    <span>...</span>
                    {% else %}
                        <span {% if itm.highlight %} class="highlight page-num" {% endif %} class="page-num">
                            <a href='?page={{itm.page}}{{qry_str}}'>
                            {{itm.page}}</a>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>  
            <span><a class="pre-nex" href='?page={{context.nex}}{{qry_str}}'>Next</a></span>
        {% else %}
            <!--<span><a class="pre-nex" href={{url_for( 'blog_posts', page=context.previous )}}>Previous</a></span>-->
            <span><a class="pre-nex" href='?page={{context.previous}}'>Previous</a></span>
            <div class='special-pages'>
                {% for itm in context.lis %}
                    {% if itm.page == None  %}
                        <span>...</span>
                    {% else %}
                        <span {% if itm.highlight %} class="highlight page-num" {% endif %} class="page-num">
                            <a href='?page={{itm.page}}'>
                            {{itm.page}}</a>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
            <span><a class="pre-nex" href='?page={{context.nex}}'>Next</a></span>
        {% endif %}
    </div>
</div>
{% endif %}